
html, 
body {
    /* initial settings */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Moderustic", sans-serif;
    background-color: whitesmoke;
    font-size: 15px;
    text-align: center;
}

header {
   
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    
   
}


.the-top {
    background: gray;
    margin: 0.5em auto;
    padding: 0.5em;
    width: 85%;
    max-width: 900px;
    display: flex;
    /* put the items on each side */
    justify-content: space-between;
    
   
}

.top-left {
    
    display: flex;
    max-width: 300px;
    height: 3em;
    gap: 1em;
}

.the-left .logo {
    max-width: 20%;
}

.top-left h4 {
    
    color: #1d59c6;
    text-shadow: none;
}

.top-right h4 {
    max-width: 300px;
    
   
    
}

.top-right {
    background: green;
    
    
    
}

.top-right h4 a {
    color: #1d59c6;
    text-decoration: none;
}

.top-right h4 a:hover,
.top-right h4 a:active {
    opacity: 0.5;
}

.top-background {
    
    
    width: 90%;
    max-width: 900px;
    height: 35vh;
    padding: 0.5em 0em;
    margin: 0 auto;
    background-image: url("../images/banner.jpg");
    border-radius: 10%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    
}

h1 {

    text-shadow: 3px -3px 1px black;
    margin-top: 1em;
}

h3 {
    text-shadow: 3px -3px 1px gray;
}

h3 a {
    text-decoration: none;
}

.main-home {
    
    max-width: 90vw;
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    
    /* this put the containing card in the center */
    justify-content: center;
    align-items: center;
    gap: 1em;
    
}

span {
    display: block;
    color:  gold;
}

 h1, h2, h3 a, h4 {
   
    color: whitesmoke;
    
}



.instruction, 
.reason h2, 
.reason p {
    color: #1d59c6;
}

.reason h2, 
.reason p {
    
    margin: 1em auto;
    padding: 0 2em;
    max-width: 750px;
    margin-top: 1em;
}

.reason h2 {
    text-align: center;
}

.reason p {
    text-align: left;
}

.reason table {
    margin: 0 auto;
}

.reason table td,
.reason table th {
    padding: 1em;
    text-align: left;
    color: #1d59c6;
}


.main-home .skills p, .reason p {
    line-height: 1.5;
    word-spacing: 0.3em;
}

.main-home img {
    
    object-fit: cover;
    width: 95%;
    height: 95%;
    border-radius: 10%;
    display: block;
    margin: 0.5em auto;
    cursor: pointer;
}

.copyright {
    margin-top: -1em;
}

.view-more h3 a {
    color: #1d59c6;
    text-shadow: none;
}

footer {
    background-color:  #1d59c6;
    width: 100vw;
    max-width: 900px;
    height: auto;
    padding: 0.5em 0;
    
}

