/*index*/

html, 
body {
    /* initial settings */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Moderustic", sans-serif;
    background-color: #2c3e50;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
}

img {
    width: 50%;
}


header {
    width: 90%;
    
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em 0;
}

.the-top {
    display: flex;
    justify-content: space-between;
}


.top-left {
   
    align-self: self-start;
    display: flex;
    align-items: center;
    gap: 1em;
    width: 45%;
    padding: 0.5em;
}

.logo {
    border-radius: 50%;
    width: 12%;
    height: 12%;
}

.top-right {
   
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 55%;
    padding: 0.2em;
}

.top-right h4 a {
    margin-left: 0.5em;
    text-decoration: none;
}

.top-background {
    height: 250px;
    width: 100%;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 0.1em;
    color: whitesmoke;
    text-shadow: -5px -5px 5px red;
}

span {
    display: block;
}

.top-left h4,
.top-right h4 a,
.instruction,
.view-more h3 a {
   
    color: whitesmoke;
}

p {

    text-align: left;
    line-height: 1.5;
    margin: 1em;
}



/* layout */

.main-home {
    

    max-width: 900px;
    margin: auto;

    display: grid;
    grid-template-columns: 1em 1fr 1em;
    
    grid-template-areas: 
    "... html ..."
    "... css ..."
    "... java ..."
    "... reac ..."
    "... webd ..."
    "... wfrp ...";
}

.main-home .skills {
    background: rgba(255, 255,255,.1);
    box-shadow: 5px -5px 5px red;
    border-radius: 50px;
    border: 2px solid rgba(255,255,255, .5);
    
    height: 30vh;
    margin: 1em;
    padding: 1.5em;
    overflow: auto;
    color: whitesmoke;
    text-align: left;
}


.html {
    grid-area: html;
}

.css {
    grid-area: css;
}

.java {
    grid-area: java;
}

.reac {
    grid-area: reac;
}

.webd {
    grid-area: webd;
}

.wfrp {
    grid-area: wfrp;
}

/*why*/

.reason {
    max-width: 900px;
    margin: auto;

    
}

.reason h2,
.reason p {
    color: whitesmoke
}

table {
    width: 30%;
    margin: auto
}

.reason table td,
.reason table th {
    color: whitesmoke
}

.text-image img {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
    float: left;
    margin-right: 1em;
    border-radius: 20%;
}

.skills a img {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
    border-radius: 20%;
    
    float: left;
    margin-right: 15px;
}

.wfrp a img {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
    float: none;
    margin: 0 auto;
}

footer {
    background-color:  #1d59c6;
    color: whitesmoke;
    width: 100vw;
    height: auto;
    padding: 0.5em 0;
    
}



@media (min-width: 769px) {
    .main-home {
    grid-template-columns: repeat(3, minmax(30%, 1fr));
     
    grid-template-areas: 
    "html css java"
    "reac webd wfrp";

    }

    .skills a img {
        max-width: 50%;
        max-height: 50%;
        object-fit: contain;
        float: left;
        margin-right: 15px;
        transform: rotate(-3deg);
    }

    .main-home .skills {    
        box-shadow: none;
    }

    h1 {
        font-size: 3rem;
    }

    .wfrp a img {
        max-width: 60%;
        max-height: 60%;
        min-width: 50%;
        min-height: 50%;
        object-fit: contain;
        float: none;
        margin: 1em auto;
    }

}